.quote {
    width: 50%;
}

main {
    min-height: 80vh;
}

blockquote  p {
    background-color: #1f1e1e;
    border: 2px solid #313131;
    border-radius: 8px;
    font-size:medium;
    padding: 1% 4% 2% 0;
    text-align: right;
    /* margin: 1% 1% 0 0; */
}

cite {
    float: right;
    font-size:smaller;
} 

footer {
    text-align: center;
    font-size:small;
}

#content-data {
    text-align: right;
    clear: right;
    font-size:small;
}

cite, #content-data {
        margin: 0 2% 0 0;
}
